$blue: #3190e8;
$bc: #e4e4e4;
$fc:#fff;

$bgfc:#fff;
$bgec:#eee;
$btnbg:rgb(15,44,162);
$btnbgactive:rgb(15,43,159);
$btnbgdis:rgb(162,169,182);

// 背景图片地址和大小
@mixin bis($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
//定位全屏
@mixin allcover{
  position:absolute;
  top:0;
  right:0;
}

//定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//定位上下居中
@mixin cl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height){
  width: $width;
  height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
  font: #{$size}/#{$line-height} $family;
}

//字体大小，颜色
@mixin sc($size, $color){
  font-size: $size;
  color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between){
  display: flex;
  justify-content: $type;

}
//1像素border
@mixin borderB-1px($color){
  position: relative;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $color;
    content: '';
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@mixin borderT-1px($color){
  position: relative;
  &:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-top: 1px solid $color;
    content: '';
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
//按钮大小，颜色
@mixin btn($size, $w){
  display: block;
  width: $w;
  margin:auto;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  line-height: 2.55555556;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  font-size: $size;
  color: #fff;
  background-color:$btnbg;
  border-radius: 5px;
  &:active,&:hover{
    background-color: $btnbgactive;
  }
  &:disabled{
    background-color: $btnbgdis;
  }
}
//点
@mixin spot($w, $h, $bg){
  display: inline-block;
  width: $w;
  height: $h;
  background-color: $bg;
  vertical-align: middle;
}
//九宫格
@mixin grid($w){
  position: relative;
  float: left;
  padding: 20px 10px;
  width: $w;
  box-sizing: border-box;
  text-align: center;
  &:before {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
  &:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
